@tailwind base;
@tailwind components;
@tailwind utilities;

/* Botón primario */
.myPrimaryBtn {
  @apply rounded-md bg-sky-600 px-3 py-2 text-sm font-medium text-white duration-200 hover:bg-sky-700 hover:text-white focus:ring-4 focus:ring-sky-300;
}

a {
  @apply no-underline;
}

/* Animaciones de Fade */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.3s ease-in forwards;
}
